/*==========  Desktop First Method  ==========*/

 

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	html{
		font-size: 13px;
	}
	.main-slider{
		.wrapper-no-flex{
			max-width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.mich-map-address__row{
		display: block;
	}
	.mich-map.trans .mich-big-map{
		transform: translateX(calc(48.33333% + 37px));
	}
	.mich-map-address__val{
		margin-bottom: 5px;
	}
	.product-card{
		width: calc(25% - 60px);
	}
	.blog-preview__big-title{
		font-size: rem(36);
		line-height: rem(50);
	}
}
	
/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px){
	.blog-preview__big-title{
		margin-top: 10px;
		font-size: rem(26);
		line-height: rem(40);
	}
}

@media only screen and (max-width : 992px){
/**/html{
		font-size: 12px;
	}
	.mich-map-address__phone:before{
		width: 18px;
		height: 18px;
	}
	.mich-map-address__phone{
		margin-right: 0;
		margin-bottom: 5px;
	}
	.mich-map-address__contacs{
		.mich-link-menu{
			display: block;
		}
	}
	.mich-map.trans .mich-big-map{
		transform: translateX(0);
	}
	.mich-map.trans .mich-map-locs{
		position: relative;
		z-index: 1;
		background-color: #fff;
	}
	.mich-map-address__row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.mich-map-address__contacs .mich-link-menu{
		display: inline-block;
	}
	.mich-map-address__phone{
		margin-right: 30px;
	}
	.mich-map.trans{

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: #fff;
			// z-index: 1;
		}
	}
	.product-card{
		width: calc(33.33333% - 40px);
		margin-left: 20px;
		margin-right: 20px;
	}
	.blog-previews{
		flex-wrap:wrap;
		height: auto;
	}
	.blog-preview{
		height: 400px;

		&--dbl{
			flex-direction: row;
		}
	}
	.blog-preview--main,
	.blog-preview:nth-child(2){
		    flex: 1 1 50%;
	}
}

@media only screen and (max-width : 980px){
	.product-nav{
		display: none;
	}
}
	
@media only screen and (max-width : 960px){
	.product-dislplay__nav{
		top: auto;
		left: 0;
		right: 0;
		bottom: -10px;
		margin: auto;
	}
}
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	html{
		font-size: 10px;
	}
	.to-mobile{
	  padding: 7px 15px;
	  margin-bottom: 0;
	  font-size: 18px;
	  line-height: 24px;
	  border-bottom: 1px solid $gray-line;
	  border-top: 1px solid $gray-line;
	}
	.mich-section{
		padding-top: 0;
	}
	.header-bottom{
		display: none;
	}
	.header .toggle-mnu{
		display: block;
		margin-right: 15px;
	}
	.header-logo{
		max-width: 124px;
		img{
			max-width: 100%;
		}
	}
	.header-top{
		border-bottom: none;
		.button{
			display: none;
		}
	}
	.header-top .wrapper{
		justify-content: flex-start;
		padding-top: 18px;
		padding-bottom: 18px;
	}
	.header-top__right{
		margin-left: auto;
	}
	.slideout-menu {
		top: 64px;
	}
	.main-slider__slide{
		padding-bottom: 0;
		height: 250px;
	}
	.header-top__right .icon-mag{
		display: inline-block;
	}
	.header-top__where{
			margin-right: 0;
		 .mich-link{
			display: none;
		}
		
	}
	.header-top__where span:first-child{
		margin-right: 15px;
	}
	.header-top__right{
		.iconed-link{
			margin-right: 15px;

			&:last-child{
				margin-right: 0;
			}

		}
	}
	.mob-subscribe{
		display: block;
	}
	.footer-menu{
		padding-left: 0;
		margin-bottom: 15px;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
		width: 100%;

		& > li{
			margin-bottom: 9px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.footer-contacts{
		display: none;
	}

	.footer-bottom{
		.button,
		.footer-socials{
			display: none;
		}
		.wrapper{
			justify-content: center;
		}
	}
	.footer-mob-data{
		display: block;
		width: 100%;
		text-align: center;

		.footer-socials{
			display: inline-block;
		}
	}
	.title-desktop{
		display: none;
	}
	.title-mobile{
		display: block;
	}
	.sect-titled-mob{
		padding-top: 0;
	}
	.mich-search-wide{
		display: none;
		&--mob{
			display: block;
			margin-bottom: 12px;
		}
	}
	.mich-map-address__row{
		display: block;
	}
	.mich-map-address__val{
		margin-bottom: 5px;
	}
	.mapview-handlers-container{
		margin-bottom: 9px;
		border-bottom: 1px solid $gray-line;
	}
	.mich-mapview-handlers{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-bottom: 0;
	}
	.mich-search-wide .mich-form{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.mich-mapview-handler{
		width: 50%;
		margin-right: 0;
		padding-top: 7px;
		padding-bottom: 6px;
		text-align: center;
		border-left: 1px solid $gray-line;

		&:first-child{
			border-left: none;
		}

	}

	.mich-map{
		border-top: none;
	}
	.contacts{
		.mich-search-wide,
		.mapview-handlers-container,
		.mich-map{
			display: none;
		}
	}
	.mich-contacts{
		padding-top: 14px;
	}
	.product-card{
		width: calc(33.33333% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
	.catalog-line{
		display: none;
	}
	.wishes-wrapper .product-card{
	    width: calc(33.33333% - 30px);
		margin-left: 15px;
		margin-right: 15px;
	}
	.product-top{
		padding-bottom: 17px;
		margin-bottom: 15px;
	}
	.product-slider{
		max-width: none;
		.slick-slide{
			text-align: center;
		}
	}
	.product-info{
		display: none;
	}
	.product-info-mobile{
		display: block;
	}
	.mich-tabs__list .tabs__item{
		padding-right: 10px;
		padding-left: 10px;
	}
	.mich-tabs__list .tabs__item .tabs__link{
		font-size: 13px;
	}
	.reviews-count{
		display: none;
	}
	.products-recomended,
	.products-viewed{
		display: none;
	}
	.product-info__share--mob{
		display: block;
	}
	.product-chars .tabs .mich-tabs__list{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.product-chars__tabs-item{
		padding-top: 12px;
		min-height: 0;
		.mich-parg-12{
			font-size: 14px;
			line-height: 16px;
			color: $font;
			font-family: $r-r;
		}
	}
	.product-chars .tabs .tabs__content{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.faq-item{
		justify-content: flex-start;

		&:first-child{
			border-top: none;
		}

	}
	.faq-info{
		display: block;
	}
	.faq-list{
		margin-bottom: 30px;
	}
	.mich-article__content{
		padding-top: 15px;
	}
	.mich-article__content h2{
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 21px;
	}
	.mich-article__content p{
		line-height: 16px;
		color: rgba(#000, .5);
		font-family: $r-r;
	}
	.faq-link{
		&:hover, &:active{
			color: $font;
		}
		
	}
	.blog-preview--main{
		display: none;
	}
	.blog-preview{
		height: auto;
		margin-bottom: 17px;

		&:nth-child(2){
			flex: 1 1 100%;
		}

		&--dbl{
			flex-wrap: wrap;
			height: auto;
		}

		&:last-child{
			margin-bottom: 0;
		}

	}
	.blog-preview__image{
		position: relative;
		height: 200px;
		margin-bottom: 12px;
	}
	.blog-preview-sub{
		flex: 1 1 100%;
		height: auto;
		margin-bottom: 17px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.blog-preview__header{
		display: none;
	}
	.blog-preview__mob-header{
		display: block;
	}
	.blog-preview__title{
		br{
			display: none;
			
		}
	}
	.blog-preview__info{
		margin-bottom: 5px;
	}
	.blog-preview__title{
		font-size: 16px;
		line-height: 21px;
	}
	/*Disable Animation on Mobile Devices*/
// 	.animated{

// 		/*CSS transitions*/
// 		-o-transition-property: none !important;
// 		-moz-transition-property: none !important;
// 		-ms-transition-property: none !important;
// 		-webkit-transition-property: none !important;
// 		transition-property: none !important;
// 		/*CSS transforms*/
// 		-o-transform: none !important;
// 		-moz-transform: none !important;
// 		-ms-transform: none !important;
// 		-webkit-transform: none !important;
// 		transform: none !important;
// 		/*CSS animations*/
// 		-webkit-animation: none !important;
// 		-moz-animation: none !important;
// 		-o-animation: none !important;
// 		-ms-animation: none !important;
// 		animation: none !important;
// 	}
}


	
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 560px){
	html{
		font-size: 8px;
	}
	.wrapper{
		padding-right: 15px;
		padding-left: 15px;
	}
	.no-pd-560{
		padding-left: 0;
		padding-right: 0;
	}
	.mob-subscr-container .mich-form{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.slick-prev{
		left: 15px;
	}
	.slick-next{
		right: 15px;
	}
	.mob-search-form .icon-close{
		right: 15px;
	}
	.partners-content{
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		.slick-prev{
			left: 0;
		}
		.slick-next{
			right: 0;
		}
	}
	.partners-item{
		img{
			max-width: 60%;
		}
	}
	.footer-menu{
		margin-left: 0;
		margin-right: 0;
		li{
			ul{
				display: none;
			}
		}
	}
	.footer-bottom{
		padding: 14px 0;
	}
	.map-disclose{
		padding: 0;
		width: 40px;
		height: 40px;

		.disclose-icon{
			left: 50%;
			margin-left: -10px;
			
		}
	}
	.map-disclose__text{
		display: none;
	}
	.mich-contacts__column{
		margin-bottom: 25px;
	}
	.product-card,
	.wishes-content .product-card{
		width: calc(50% - 10px);
		margin-left: 5px;
		margin-right: 5px;
	}
	.product-card__name{
		font-size: 12px;
	}
	.catalog-content,
	.wishes-content{
		margin-left: 0;
		margin-right: 0;
	}
	.wishes-content{
		width: 100%;
	}
	.faq-item__row,
	.mich-article__content{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.faq-link{
		position: relative;
		display: block;
		padding-left: 25px;
		font-size: 14px;
	}
	.faq-icon{
		width: 18px;
		height: 18px;
		@include absolute-center-old;
		right: auto;
		left: 0;
	}
	.mich-article__img{
		padding-bottom: 0;
		height: 180px;
	}
	.mich-news-popup .mich-news-popup__top{
		flex-wrap: wrap;
		margin-left: 0;
		margin-right: 0;
	}
	.mich-news-popup .mich-news-popup__top .mich-form-label{
		width: 100%;	
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (max-width : 480px){
/**/
	.main-slider{
		margin-bottom: 0;
	}
	.mich-map-address__contacs{
		.mich-link-menu{
			display: block;

		}
	}
}
		

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px){
	.footer-menu{
		li{
			margin-left: 5px;
			margin-right: 5px;

			&.go-distributor{
				order: 1;
			}
		}
	}
}

@media only screen and (max-width : 360px){
	.product-chars__tabs-top{
		border-bottom: none;
		border-top: none;
	}
	.product-chars .tabs .mich-tabs__list{
		 	flex-wrap: wrap;
		 	justify-content: flex-start;

		 	.tabs__item{
		 		width: 50%;
		 		border-bottom: 1px solid $gray-line;
		 		border-right: 1px solid $gray-line;
		 		border-left: none;

		 		&:first-child{
		 			border-top: 1px solid $gray-line;
		 			border-left: 1px solid $gray-line;
		 		}
		 		&:nth-child(2){
		 			border-top: 1px solid $gray-line;
		 			
		 		}
		 		&:nth-child(2n-1){
		 			border-left: 1px solid $gray-line;
		 		}


		 	}
	}
}

@media only screen and (max-width : 320px){
/**/
	.catalog-content,
	.wishes-content{
		margin-left: 0;
		margin-right: 0;
	}
	.product-card,
	.wishes-content .product-card{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 769px){
	/**/
	.slideout-open .slideout-menu{
		display: none;
	}
	.slideout-panel.panel-open:before{
		display: none;
	}
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}



