/*==========  Desktop First Method  ==========*/

 

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	html{
		font-size: 13px;
	}
	.main-slider{
		.wrapper-no-flex{
			max-width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
	
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
/**/html{
		font-size: 12px;
	}
}
	
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	html{
		font-size: 10px;
	}

	.header-bottom{
		display: none;
	}
	.header .toggle-mnu{
		display: block;
		margin-right: 15px;
	}
	.header-logo{
		max-width: 124px;
		img{
			max-width: 100%;
		}
	}
	.header-top{
		border-bottom: none;
		.button{
			display: none;
		}
	}
	.header-top .wrapper{
		justify-content: flex-start;
		padding-top: 18px;
		padding-bottom: 18px;
	}
	.header-top__right{
		margin-left: auto;
	}
	.slideout-menu {
		top: 64px;
	}
	.main-slider__slide{
		padding-bottom: 0;
		height: 250px;
	}
	/*Disable Animation on Mobile Devices*/
// 	.animated{

// 		/*CSS transitions*/
// 		-o-transition-property: none !important;
// 		-moz-transition-property: none !important;
// 		-ms-transition-property: none !important;
// 		-webkit-transition-property: none !important;
// 		transition-property: none !important;
// 		/*CSS transforms*/
// 		-o-transform: none !important;
// 		-moz-transform: none !important;
// 		-ms-transform: none !important;
// 		-webkit-transform: none !important;
// 		transform: none !important;
// 		/*CSS animations*/
// 		-webkit-animation: none !important;
// 		-moz-animation: none !important;
// 		-o-animation: none !important;
// 		-ms-animation: none !important;
// 		animation: none !important;
// 	}
}


	
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 560px){
	html{
		font-size: 8px;
	}
}

@media only screen and (max-width : 480px){
/**/
}
		

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
/**/
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}



