/*==========  Desktop First Method  ==========*/

 

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	html{
		font-size: 13px;
	}
	.main-slider{
		.wrapper-no-flex{
			max-width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.mich-map-address__row{
		display: block;
	}
	.mich-map.trans .mich-big-map{
		transform: translateX(calc(48.33333% + 37px));
	}
	.mich-map-address__val{
		margin-bottom: 5px;
	}

}
	
/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px){
}

@media only screen and (max-width : 992px){
/**/html{
		font-size: 12px;
	}
	.mich-map-address__phone:before{
		width: 18px;
		height: 18px;
	}
	.mich-map-address__phone{
		margin-right: 0;
		margin-bottom: 5px;
	}
	.mich-map-address__contacs{
		.mich-link-menu{
			display: block;
		}
	}
	.mich-map.trans .mich-big-map{
		transform: translateX(0);
	}
	.mich-map.trans .mich-map-locs{
		position: relative;
		z-index: 1;
		background-color: #fff;
	}
	.mich-map-address__row{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.mich-map-address__contacs .mich-link-menu{
		display: inline-block;
	}
	.mich-map-address__phone{
		margin-right: 30px;
	}
	.mich-map.trans{

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: #fff;
			// z-index: 1;
		}
	}
}
	
	
/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	html{
		font-size: 10px;
	}

	.header-bottom{
		display: none;
	}
	.header .toggle-mnu{
		display: block;
		margin-right: 15px;
	}
	.header-logo{
		max-width: 124px;
		img{
			max-width: 100%;
		}
	}
	.header-top{
		border-bottom: none;
		.button{
			display: none;
		}
	}
	.header-top .wrapper{
		justify-content: flex-start;
		padding-top: 18px;
		padding-bottom: 18px;
	}
	.header-top__right{
		margin-left: auto;
	}
	.slideout-menu {
		top: 64px;
	}
	.main-slider__slide{
		padding-bottom: 0;
		height: 250px;
	}
	.header-top__right .icon-mag{
		display: inline-block;
	}
	.header-top__where{
			margin-right: 0;
		 .mich-link{
			display: none;
		}
		
	}
	.header-top__where span:first-child{
		margin-right: 15px;
	}
	.header-top__right{
		.iconed-link{
			margin-right: 15px;

			&:last-child{
				margin-right: 0;
			}

		}
	}
	.mob-subscribe{
		display: block;
	}
	.footer-menu{
		padding-left: 0;
		margin-bottom: 15px;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;
		width: 100%;

		& > li{
			margin-bottom: 9px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.footer-contacts{
		display: none;
	}

	.footer-bottom{
		.button,
		.footer-socials{
			display: none;
		}
		.wrapper{
			justify-content: center;
		}
	}
	.footer-mob-data{
		display: block;
		width: 100%;
		text-align: center;

		.footer-socials{
			display: inline-block;
		}
	}
	.title-desktop{
		display: none;
	}
	.title-mobile{
		display: block;
	}
	.sect-titled-mob{
		padding-top: 0;
	}
	.mich-search-wide{
		display: none;
		&--mob{
			display: block;
		}
	}
	.mich-map-address__row{
		display: block;
	}
	.mich-map-address__val{
		margin-bottom: 5px;
	}
	.mapview-handlers-container{
		margin-bottom: 9px;
		border-bottom: 1px solid $gray-line;
	}
	.mich-mapview-handlers{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-bottom: 0;
	}

	.mich-mapview-handler{
		width: 50%;
		padding-top: 7px;
		padding-bottom: 6px;
		text-align: center;
		border-left: 1px solid $gray-line;

		&:first-child{
			border-left: none;
		}

	}

	.mich-map{
		border-top: none;
	}
	/*Disable Animation on Mobile Devices*/
// 	.animated{

// 		/*CSS transitions*/
// 		-o-transition-property: none !important;
// 		-moz-transition-property: none !important;
// 		-ms-transition-property: none !important;
// 		-webkit-transition-property: none !important;
// 		transition-property: none !important;
// 		/*CSS transforms*/
// 		-o-transform: none !important;
// 		-moz-transform: none !important;
// 		-ms-transform: none !important;
// 		-webkit-transform: none !important;
// 		transform: none !important;
// 		/*CSS animations*/
// 		-webkit-animation: none !important;
// 		-moz-animation: none !important;
// 		-o-animation: none !important;
// 		-ms-animation: none !important;
// 		animation: none !important;
// 	}
}


	
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 560px){
	html{
		font-size: 8px;
	}
	.wrapper{
		padding-right: 15px;
		padding-left: 15px;
	}
	.no-pd-560{
		padding-left: 0;
		padding-right: 0;
	}
	.mob-subscr-container .mich-form{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.slick-prev{
		left: 15px;
	}
	.slick-next{
		right: 15px;
	}
	.mob-search-form .icon-close{
		right: 15px;
	}
	.partners-content{
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		.slick-prev{
			left: 0;
		}
		.slick-next{
			right: 0;
		}
	}
	.partners-item{
		img{
			max-width: 60%;
		}
	}
	.footer-menu{
		margin-left: 0;
		margin-right: 0;
		li{
			ul{
				display: none;
			}
		}
	}
	.footer-bottom{
		padding: 14px 0;
	}
	.map-disclose{
		padding: 0;
		width: 40px;
		height: 40px;

		.disclose-icon{
			left: 50%;
			margin-left: -10px;
			
		}
	}
	.map-disclose__text{
		display: none;
	}
}

@media only screen and (max-width : 480px){
/**/
	.main-slider{
		margin-bottom: 0;
	}
	.mich-map-address__contacs{
		.mich-link-menu{
			display: block;

		}
	}
}
		

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px){
	.footer-menu{
		li{
			margin-left: 5px;
			margin-right: 5px;

			&.go-distributor{
				order: 1;
			}
		}
	}
}
@media only screen and (max-width : 320px){
/**/
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
	/**/
}



