footer.footer
	.footer-top
		.wrapper
			.footer-contacts
				a(href="#").footer-logo
					img(src="img/logo.png", alt="alt")
				p г. Санкт-Петербург
					br
					| ул. Прогонная, д. 3 
					br 
					| Тел.: 8 (812) 213 33 77

			.footer-menu
				li
						a(href="#").mich-link-menu О бренде
				li
					a(href="#").mich-link-menu Каталог продукции
					ul
						li
							a(href="#").mich-link-menu.header-menu__sublink Уход за руками и телом
						li
							a(href="#").mich-link-menu.header-menu__sublink Уход за волосами
				li
					a(href="#").mich-link-menu Блог
					ul
						li
							a(href="#").mich-link-menu.header-menu__sublink Вопросы и Ответы
						li
							a(href="#").mich-link-menu.header-menu__sublink Новости D’Michael
						li
							a(href="#").mich-link-menu.header-menu__sublink “Дайте мне красоты!”

				li
					a(href="#").mich-link-menu Стать дистрибьютером
				li
					a(href="#").mich-link-menu Контакты

	.footer-bottom
		.wrapper
			.footer-copyright &copy; 2019 D’Michaél. Все права защищены

			.footer-socials
				span Оставайтесь с нами!
				span.footer-socials__buttons
					a(href="#").icon-vk.iconed-link
					a(href="#").icon-inst.iconed-link
					a(href="#").icon-youtube.iconed-link

			a(href="#mich-popup-news").button.to-popup Новостная рассылка