header.header
	.header-top
		.wrapper
			a(href="#mich-popup-distr").button.to-popup Стать дистрибьютором
			a(href="#").header-logo
				img(src="img/logo.png", alt="alt")
			.header-top__right
				a(href="#").header-top__where
					span.iconed-link.mich-icomoon-icon.icon-loc
					span.mich-link Где купить?
				
				a(href="#").iconed-link.mich-icomoon-icon.icon-heart-empty
	
	.header-bottom
		.wrapper
			.header-bottom__inner
				ul.header-menu.sf-menu
					li
						a(href="#").mich-link-menu О бренде
					li
						a(href="#").mich-link-menu Каталог продукции
						ul
							li
								a(href="#").mich-link-menu.header-menu__sublink Уход за руками и телом
							li
								a(href="#").mich-link-menu.header-menu__sublink Уход за волосами
					li
						a(href="#").mich-link-menu Блог
						ul
							li
								a(href="#").mich-link-menu.header-menu__sublink Вопросы и Ответы
							li
								a(href="#").mich-link-menu.header-menu__sublink Новости D’Michael
							li
								a(href="#").mich-link-menu.header-menu__sublink “Дайте мне красоты!”

					li
						a(href="#").mich-link-menu Контакты

					li.header-menu__search
						button.search-button
								span.icon-mag

				.header-search
					form.mich-form(action="#")
						label.mich-form-label
							input.mich-form-input.mich-form-input--search(type="text", name="" placeholder="Поиск")

							button.search-button
								span.icon-mag