.mob-subscribe
	.wrapper.mob-subscr-container
		form.mich-form(action="#")
			div Подписывайтесь на нашу рассылку!
			label.mich-form-label
				input.mich-form-input.mich-inp-serif(type="text", name="" placeholder="Ваше имя" required)

			button.button.button-full.button-wide(type="submit") отправить

			.mich-form__custom-policy
				label.mich-form-custom
					input.mich-form-check(type="checkbox", name="" checked required)
					span.mich-form__custom-chek
				span.mich-form__policy Я даю согласие на обработку моих персональных данных в порядке и на условиях, #[a(href="#") указанных в согласии].