extends _misc/main

block title
	| Article

block content
	section.mich-article
		.wrapper
			h1.wrapped Новости D’Michael

		
		article.mich-article-item
			.wrapper
				.mich-article__img(style="background-image: url(img/article.jpg)")

			.wrapper.mich-article__wrapper
				.mich-article__content
					.mich-article-item__date 16.02.2019
					h2 Новый аромат от D’Michael Les notes de Alsace

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt nunc lorem, nec faucibus mi facilisis eget. Mauris laoreet, nisl id faucibus pellentesque, mi mi tempor enim, sit amet interdum felis nibh a leo. Donec efficitur velit ac nisi rutrum, eu ornare augue tristique. Vestibulum eget convallis odio, sed viverra quam. Etiam vulputate sed elit in malesuada. Aenean ut efficitur purus. Curabitur fringilla lacus sit amet orci vehicula molestie.

					p Nunc et tristique augue, nec iaculis purus. Nunc id lorem massa. Ut convallis sodales sem, id bibendum urna cursus et. Proin interdum metus ut tellus rutrum, at luctus tellus sodales. Integer neque massa, venenatis sit amet ultrices id, iaculis a nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum ante vitae lectus molestie, ornare eleifend justo commodo. Morbi placerat nec neque ut laoreet.

					.mich-article__footer
						.mich-article__tags
							span Теги:
							div
								a(href="#") Новости D’Michael
								a(href="#") Alsace
								a(href="#") Товары

						.mich-article__share
							span Поделиться статьей:
							a(href="#").icon-inst.iconed-link.mich-icomoon-icon
							a(href="#").icon-vk.iconed-link.mich-icomoon-icon
							a(href="#").icon-fb.iconed-link.mich-icomoon-icon
							a(href="#").icon-pint.iconed-link.mich-icomoon-icon
							a(href="#").icon-whatsapp.iconed-link.mich-icomoon-icon



