extends _misc/main

block title
	| Catalog

block content
	section.mich-section.catalog
		.wrapper
			h1.wrapped.title-desktop Каталог продукции
		
		.title-mobile Уход за телом
		
		.catalog-line
			span Уход за телом

		.wrapper.catalog-content
			- for (var i=0; i < 10; i++)
				include _includes/card
			.catalog-more
				a(href="#").button ЕЩЁ

		//- .catalog-line
		//- 	span Для него

		//- .wrapper.catalog-content
		//- 	- for (var i=0; i <5; i++)
		//- 		include _includes/card