extends _misc/main

block title
	| Contacts

block content
	section
		.wrapper
			h1.wrapped Контактная информация
		
		.wrapper.mich-search-wide
			form.mich-form(action="#")
				label.mich-form-label
					input.mich-form-input.mich-form-input--search(type="text", name="" placeholder="Поиск")

					button.search-button
						span.icon-mag

		.wrapper
			.mich-mapview-handlers
				a(href="#" id="map-open").mich-mapview-handler
					span.mich-iconed-link.icon-loc.mich-icomoon-icon
					span.mich-link На карте

				a(href="#" id="text-open").mich-mapview-handler
					span.mich-iconed-link.icon-settings.mich-icomoon-icon
					span.mich-link Списком


		.mich-map
			.wrapper.mich-map__button-wrap
				.button.button-full.map-disclose
					span.map-disclose__text Показать списком
					span.disclose-icon.icon-contract

			.mich-map-locs
				.wrapper
					.mich-map-address
						- for (var i=0; i < 2; i++)
							.mich-map-address__row
								.mich-map-address__val NailShop "ALEKSANDRA" 
									br
									| СПб пр-т Большевиков, д.3, кор.1 

								.mich-map-address__contacs
									a(href="tel:+79523685100").mich-map-address__phone.mich-link-menu +7 (952) 368-51-00
									span.mich-map-address__schedule
										span.mich-icomoon-icon-brown.icon-time
										span Пн-вс: 10:00 - 21:00

							.mich-map-address__row
								.mich-map-address__val NailShop "ALEKSANDRA" 
									br
									| СПБ мкр.Славянка, ул.Ростовская 21К1

								.mich-map-address__contacs
									a(href="tel:79500383392").mich-map-address__phone.mich-link-menu +7 (950) 038-33-92
									span.mich-map-address__schedule
										span.mich-icomoon-icon-brown.icon-time
										span Пн-вс: 10:00 - 21:00

							.mich-map-address__row
								.mich-map-address__val NailShop "ALEKSANDRA" 
									br
									| СПб Лиговский пр-т 74

								.mich-map-address__contacs
									a(href="tel:+79967692701").mich-map-address__phone.mich-link-menu +7 (996) 769-27-01
									span.mich-map-address__schedule
										span.mich-icomoon-icon-brown.icon-time
										span Пн-вс: 10:00 - 21:00

							.mich-map-address__row
								.mich-map-address__val NailShop "ALEKSANDRA" 
									br
									| СПб магазин в ТЦ "Охта Молл"

								.mich-map-address__contacs
									a(href="tel:+79967692700").mich-map-address__phone.mich-link-menu +7 (996) 769-27-00
									span.mich-map-address__schedule
										span.mich-icomoon-icon-brown.icon-time
										span Пн-вс: 10:00 - 21:00

					//- .mich-map-block-sm
					//- 	a(href="#").button.button-full.map-disclose Раскрыть карту
					//- 		span.disclose-icon.icon-expand
					//- 	#mich-map-sm.mich-sm-map

			.mich-big-map#mich-map-big
		//- .mich-big-map#mich-map-big

		//- .mich-map-locs
		//- 	.wrapper
		//- 		.mich-map-address
		//- 			- for (var i=0; i < 2; i++)
		//- 				.mich-map-address__row
		//- 					.mich-map-address__val NailShop "ALEKSANDRA" 
		//- 						br
		//- 						| СПб пр-т Большевиков, д.3, кор.1 

		//- 					.mich-map-address__contacs
		//- 						a(href="tel:+79523685100").mich-map-address__phone.mich-link-menu +7 (952) 368-51-00
		//- 						span.mich-map-address__schedule
		//- 							span.mich-icomoon-icon-brown.icon-time
		//- 							span Пн-вс: 10:00 - 21:00

		//- 				.mich-map-address__row
		//- 					.mich-map-address__val NailShop "ALEKSANDRA" 
		//- 						br
		//- 						| СПБ мкр.Славянка, ул.Ростовская 21К1

		//- 					.mich-map-address__contacs
		//- 						a(href="tel:79500383392").mich-map-address__phone.mich-link-menu +7 (950) 038-33-92
		//- 						span.mich-map-address__schedule
		//- 							span.mich-icomoon-icon-brown.icon-time
		//- 							span Пн-вс: 10:00 - 21:00

		//- 				.mich-map-address__row
		//- 					.mich-map-address__val NailShop "ALEKSANDRA" 
		//- 						br
		//- 						| СПб Лиговский пр-т 74

		//- 					.mich-map-address__contacs
		//- 						a(href="tel:+79967692701").mich-map-address__phone.mich-link-menu +7 (996) 769-27-01
		//- 						span.mich-map-address__schedule
		//- 							span.mich-icomoon-icon-brown.icon-time
		//- 							span Пн-вс: 10:00 - 21:00

		//- 				.mich-map-address__row
		//- 					.mich-map-address__val NailShop "ALEKSANDRA" 
		//- 						br
		//- 						| СПб магазин в ТЦ "Охта Молл"

		//- 					.mich-map-address__contacs
		//- 						a(href="tel:+79967692700").mich-map-address__phone.mich-link-menu +7 (996) 769-27-00
		//- 						span.mich-map-address__schedule
		//- 							span.mich-icomoon-icon-brown.icon-time
		//- 							span Пн-вс: 10:00 - 21:00

		//- 		.mich-map-block-sm
		//- 			a(href="#").button.button-full.map-disclose Раскрыть карту
		//- 				span.disclose-icon.icon-expand
		//- 			#mich-map-sm.mich-sm-map
		
		.wrapper.mich-contacts
			.mich-contacts__column.mich-contacts__column--addr
				.mich-contacts__title Наш адрес:
				p 192102, г. Санкт-Петербург, 
					br
					| ул. Прогонная, д. 3

				div Тел.: 8 (812) 213 33 77
				div 
					span E-mail: 
					a(href="mailto:contract@dmichael.ru").mich-link contract@dmichael.ru

			.mich-contacts__column
				.mich-contacts__title Режим работы:
				p Пн-Пт: с 09.00 до 18.00 
					br
					| Сб, Вс: выходной

			.mich-contacts__column
				.mich-contacts__title Реквизиты компании:
				p АО "Фирма "Северная" 
					br
					| ОГРН: 1027808000307
					br
					| ИНН: 7816042946
					br
					| КПП: 781601001

			.mich-contacts__column.mich-contacts__column--co-working
				.mich-contacts__title Предложения по сотрудничеству:
				p
					span E-mail:
					a(href="#").mich-link hello@dmichael.com


block page-scripts
	script(src="js/map.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_NAmCu9dm16a9i0oeX0T6rBQFgObeiZA&callback=initMap" async defer)		


