extends _misc/main

block title
	| Faq

block content
	section.faq.sect-titled-mob

		h1.to-mobile Вопросы и Ответы

		ul.acordeon-list.faq-list
			- var list = ['Как разрабатываются новые продукты?', 'Надо ли читать этикетки?', ' Как работают средства от морщин?', 'Зачем в косметике животные жиры?', 'Что такое умные протеины?', 'Чем отличается аптечная косметика от масс-маркета?', 'Стоит ли обращать внимание на количество компонентов?', 'Правда ли, что не бывает косметики без консервантов?', 'Вредны ли парабены?', 'Полезно ли использовать «домашнюю косметику»?'];

			each item in list
				li.acordeon-item.acordeon-item-with-sublist.wrapper.faq-item
					.faq-item__row
						a.acordeon-link.mich-link-menu.faq-link(href="#")
							span.mich-svg-icon.faq-icon
							span= item
						ul.acordeon-sublist.hidden
							li.acordeon-subitem
								p Сначала появляется идея, как и что нужно сделать. Технолог знает свойства компонентов — составляет рецептуру, которая потом воспроизводится фактически.

								p Мы придумываем на бумаге, а потом «делаем в стакане». Во время разработки создается много вариантов и только лучший имеет право на жизнь. После тестирования и утверждения рецептура передается в производство. Создание нового продукта – это всегда интересный эксперимент.

		.wrapper
			.faq-info
				.faq-info__item Не нашли ответа на свой вопрос?
				.faq-info__item Обратитесь к нашим менеджерам:
					a(href="tel:88122133377") 8 (812) 21 333 77
					a(href="mailto:info@dmichael.ru") info@dmichael.ru
