extends _misc/main

block title
	| Главная страница

block content
	.main-slider
		.wrapper.wrapper-no-flex
			.main-slider__carousel
				.main-slider__slide(style="background-image: url(img/banner.jpg)")
				.main-slider__slide(style="background-image: url(img/banner.jpg)")
				.main-slider__slide(style="background-image: url(img/banner.jpg)")
	
	section.partners
		.wrapper
			h2.wrapped Наши партнеры
		
		.wrapper
			.partners-content
				- for (var i=0; i < 2; i++)
					.partners-item
						img(src="img/logos/ozon.png", alt="alt")
					.partners-item
						img(src="img/logos/parisnail.png", alt="alt")
					.partners-item
						img(src="img/logos/logo-wildberries.png", alt="alt")
					.partners-item
						img(src="img/logos/krasotkapro-logo.png", alt="alt")

