extends _misc/main

block title
	| Product card

block content
	.product-top(style="background-color: #6BD1DD;")
		.wrapper.product-top__wrapper
			.product-nav

			.product-dislplay
				.product-dislplay__nav
				.product-slider
					- for (var i=1; i < 5; i++)
						.product-slide(data-thumb="img/products/product-sm-"+i+".png")
							img.product-slide__img(src="img/products/product-lg-1.png", alt="alt")
			
			.product-info
				.product-info__title Маска для рук D'Michaél Les note de Versailles

				p.product-info__descr Подарите своим рукам восхитительный уход с маской от D’Michaél. 
					br
					| Нежнейшая текстура маски обеспечивает Вам приятное расслабление во время нанесения средства.

				.product-info__buttons
					a(href="#").product-info__favourites.icon-link-block
						span.mich-icomoon-icon.iconed-link.icon-heart-empty
						span.mich-link Добавить в желаемые

					a(href="#").button.button-brd-wht Заказать товар

				.product-info__share
					div Поделиться товаром:
					a(href="#").mich-icomoon-icon.iconed-link.icon-inst
					a(href="#").mich-icomoon-icon.iconed-link.icon-vk
					a(href="#").mich-icomoon-icon.iconed-link.icon-fb
					a(href="#").mich-icomoon-icon.iconed-link.icon-pint
					a(href="#").mich-icomoon-icon.iconed-link.icon-whatsapp
	
	.wrapper.product-info-mobile
		.product-info__title Маска для рук D'Michaél Les note de Versailles
		a(href="#").mich-icomoon-icon.iconed-link.icon-heart-empty

	.product-chars
		.tabs
			.product-chars__tabs-top
				.wrapper
					ul.tabs__list.mich-tabs__list
						li.tabs__item.tabs__item--active
							a.tabs__link(href="#" data-tab='1') Нанесение
						li.tabs__item
							a.tabs__link(href="#" data-tab='2') Ингридиенты
						li.tabs__item
							a.tabs__link(href="#" data-tab='3') Характеристики
						li.tabs__item
							a.tabs__link(href="#" data-tab='4') Отзывы #[span.reviews-count (3)]
			
			.product-chars__tabs-bottom
				.wrapper.product-chars__content-wrapper
					ul.tabs__content
						li.tabs__item.product-chars__tabs-item(data-tab="1")
							p.mich-parg-12 Нанести маску на кожу рук, надеть рукавички или укрыть полотенцем. Оставить на 10-15 минут. Остатки снять влажной салфеткой. Маска идеальна для SPA-процедур. Можно использовать вместо завершающего крема. Для профессионального использования.
						
						li.tabs__item.product-chars__tabs-item.hidden(data-tab="2") 2
						li.tabs__item.product-chars__tabs-item.hidden(data-tab="3") 3
						li.tabs__item.product-chars__tabs-item.hidden(data-tab="4") 4

	.wrapper
		.product-info__share.product-info__share--mob
			div Поделиться товаром:
			a(href="#").mich-icomoon-icon.iconed-link.icon-inst
			a(href="#").mich-icomoon-icon.iconed-link.icon-vk
			a(href="#").mich-icomoon-icon.iconed-link.icon-fb
			a(href="#").mich-icomoon-icon.iconed-link.icon-pint
			a(href="#").mich-icomoon-icon.iconed-link.icon-whatsapp

	.products-recomended
		.catalog-line
			span Мы рекомендуем с этим товаром

		.wrapper.catalog-content
			- for (var i=0; i < 5; i++)
				include _includes/card

	.products-viewed
		.catalog-line
			span Вы недавно просматривали

		.wrapper.catalog-content
			- for (var i=0; i < 5; i++)
				include _includes/card