extends _misc/main

block title
	| Shops map

block content
	section.mich-section.shops-map.sect-titled-mob
		.wrapper
			h1.wrapped.title-desktop Купить продукцию D’Michael у наших партнёров в своём городе
		.title-mobile Где купить?
		
		.wrapper.shops-map__search.mich-search-wide
			form.mich-form(action="#")
				label.mich-form-label
					input.mich-form-input.mich-form-input--search(type="text", name="" placeholder="Поиск")

					button.search-button
						span.icon-mag
		
		.mapview-handlers-container
			.wrapper
				.mich-mapview-handlers
					a(href="#" id="map-open").mich-mapview-handler
						span.mich-iconed-link.icon-loc.mich-icomoon-icon
						span.mich-link На карте

					a(href="#" id="text-open").mich-mapview-handler
						span.mich-iconed-link.icon-settings.mich-icomoon-icon
						span.mich-link Списком
			
		.wrapper.shops-map__search.mich-search-wide.mich-search-wide--mob
			form.mich-form(action="#")
				label.mich-form-label
					input.mich-form-input.mich-form-input--search(type="text", name="" placeholder="Поиск")

					button.search-button
						span.icon-mag
		.mich-map
			.wrapper.mich-map__button-wrap
				.button.button-full.map-disclose
					span.map-disclose__text Показать списком
					span.disclose-icon.icon-contract

			.mich-map-locs
				.wrapper
					.mich-map-address
						- for (var i=0; i < 1; i++)
							.mich-map-address__row
								.mich-map-address__val "Империя красоты" 
									br
									| Санкт-Петербург, Спасский переулок, д.11/1, литер А, пом 17Н

								.mich-map-address__contacs
									a(href="tel:+79523685100").mich-map-address__phone.mich-link-menu +7 (952) 368-51-00
									span.mich-map-address__schedule
										span.mich-icomoon-icon-brown.icon-time
										span Пн-вс: 10:00 - 21:00

							.mich-map-address__row
								.mich-map-address__val "Парикмахерский Рай" 
									br
									| Санкт-Петербург, Скобелевский пр., д. 5

								.mich-map-address__contacs
									a(href="tel:79500383392").mich-map-address__phone.mich-link-menu +7 (950) 038-33-92
									span.mich-map-address__schedule
										span.mich-icomoon-icon-brown.icon-time
										span Пн-Пт: 10-21; Сб-Вс: 10-20

							.mich-map-address__row
								.mich-map-address__val "МарВик" на Ленинградской, 45 
									br
									| г. Пушкин, ул. Ленинградская, 45

								.mich-map-address__contacs
									a(href="tel:+79967692701").mich-map-address__phone.mich-link-menu +7 (996) 769-27-01
									span.mich-map-address__schedule
										span.mich-icomoon-icon-brown.icon-time
										span

							.mich-map-address__row
								.mich-map-address__val "МарВик" на Ленинградской, 67 
									br
									| г. Пушкин, ул. Ленинградская, 67

								.mich-map-address__contacs
									a(href="tel:+79967692700").mich-map-address__phone.mich-link-menu
									span.mich-map-address__schedule
										span.mich-icomoon-icon-brown.icon-time
										span Пн-вс: 10:00 - 21:00

					//- .mich-map-block-sm
					//- 	a(href="#").button.button-full.map-disclose Раскрыть карту
					//- 		span.disclose-icon.icon-expand
					//- 	#mich-map-sm.mich-sm-map
		
			.mich-big-map#mich-map-big

		.wrapper
			.shops-map__fantom
				p Не нашли свой магазин или салон на карте? Напишите нам, пожалуйста, об этом!
				a(href="#mich-popup-questions").button.to-popup Отправить сообщение

block page-scripts
	script(src="js/map.js")
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_NAmCu9dm16a9i0oeX0T6rBQFgObeiZA&callback=initMap" async defer)		


