extends _misc/main

block title
	| Shops map

block content
	section.shops-map
		.wrapper
			h1.wrapped Купить продукцию D’Michael у наших партнёров в своём городе
		
		.wrapper.shops-map__search.mich-search-wide
			form.mich-form(action="#")
				label.mich-form-label
					input.mich-form-input.mich-form-input--search(type="text", name="" placeholder="Поиск")

					button.search-button
						span.icon-mag

