extends _misc/main

block title
	| Wishes

block content
	section.wishes.sect-titled-mob
		h1.to-mobile Ваш список желаний
		
		.wrapper.wishes-wrapper
			.wishes-content
				- for (var i=0; i < 6; i++)
					include _includes/card

