/*--main styles---*/
*{
	box-sizing: border-box;
}
html{
	font-size: 14px;
}
body{
	font-family: 'PT Serif', serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	min-width: 320px;
	position: relative;
	// line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	color: $font;
}
.wrapper{
  @include row-flex();
  @include wrapper();

  &-no-flex{
    display: block;
  }
}
.wrapper-fluid{
	@include row-flex();

}
section{
  padding-top: rem(30);
}
h1, h2{
	margin-bottom: rem(28);
  margin-top: 0;
	text-align: center;
	font-weight: normal;


	&.wrapped{
		@include col();
		@include col-12();
	}
}
h1{
	font-size: rem(24);
	line-height: rem(32);
}
h2{
  text-transform: uppercase;
	font-size: rem(18);
	line-height: rem(24);
}
input,
textarea{
	outline: none;
}

ul, li{
	margin: 0;
	padding: 0;
}
.text{
	&-center{
		text-align: center;
	}
	&-right{
		text-align: right;
	}
}
.button{
  display: inline-block;
  padding: 10px 17px 11px 17px;
  border: none;
  color: $accent;
  text-decoration: none;
  font-size: 13px;
  font-family: $pt;
  border: 2px solid $accent;
  text-align: center;
  outline: none;
  transition: background-color .1s ease;

  &:hover, &:active{
  	background-color: $accent;
  	color: #fff;
  }
  

  &-full{
  	color: #fff;
  	text-transform: uppercase;
  	background-color: $accent;

  	&:hover, &:active{
  		background-color: transparent;
  		color: $accent;
  	}
  	
  }
  &-wide{
  	width: 100%;

  }
	
  // &:hover{
  //    background-color: lighten(orange, 5%);
  // }
   
		
  // &:active{
  //  background-color: darken(orange, 5%);
  // }
   
}
.mich-link{
	text-decoration: underline;
	color: $font;
	&:hover, &:active{
		text-decoration: none;
	}

	&-menu{
		color: $font;
		text-decoration: none;
		&:hover, &:active{
			color: $accent;
			text-decoration: underline;
		}
	}
	
}
.iconed-link{
	text-decoration: none;
}
.mich-icomoon-icon{
	font-size: 22px;

  &:before{
    color: $accent;
    
  }
  &-brown{
    font-size: 22px;
    &:before{
      color: $font;
    }
  }
}
.icon-mag{
  &:before{
    color: $font;
  }
}
.icon-heart-full{
  &:before{
    color: $pink;
  }
}
.hidden{
	display: none;
}
.mich-form{
  .mich-form-label{
    display: block;
    margin-bottom: 20px;

    &--search{
    	margin-bottom: 0;
    }
    &--select{
    	position: relative;

    	.mich-select{
    		position: absolute;
    		display: block !important;
    		left: 0;
    		bottom: 0;
    		width: 1px;
      	height: 1px;
				opacity: 0;
    	}
    }
  }
  .mich-form-label--file{
    position: relative;
    padding: 21px 0;
    background-color: #316484;
    text-align: center;
    border: 1px solid #fff;

    .mich-form-label-text{
      padding-right: 68px;
      color: #fff;
    }

    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 68px;
      height: 100%;
      border-left: 1px solid #fff;
      background: #23506D url(../img/svg/clip.svg) center no-repeat;
      background-size: 45%;
    }
  }
  .mich-form-label-name{
    display: block;
    margin-bottom: 9px;
    color: #fff;
  }
  .mich-form-input,
  .mich-form-area{
    display: block;
    width: 100%;
		padding: 7px 11px;
		border: none;
    border-bottom: 1px solid $font;
		font-family: $pt;

    @include placecolor(rgba($font, 0.7));

    &--search{
    	border: 1px solid $font;
    	font-family: $r-r;
    	font-style: italic;
    }
    &.mich-inp-serif{
    	font-family: $r-r;
    	font-style: italic;
    }
  }
  .mich-form-area{
		width: 100%;
		height: 130px;
		font-size: 14px;
  }
  .mich-form-custom{
    position: relative;
    float: left;
  }
  .mich-form__custom-policy{
    margin-bottom: 10px;
    @include clearfix;
    
  }
  .mich-form-check,
  .mich-form-file{

    position: absolute;
      box-sizing: border-box;
      width: 1px;
      height: 1px;
      display: block;
      left: 50%;
      top: 100%;
      margin: 0;
      padding: 0;
      opacity: 0;

      &:checked ~ .mich-form__custom-chek{
        &:before{
          display: block;
        }
      }
  }
  .mich-form__custom-chek{
    position: relative;
	display: block;
    width: 20px;
    height: 20px;
    // margin-right: 7px;
    border: 1px solid $gray-line;
    

    &:before{
      content: '';
      @include absolute-center;
      width: 16px;
      height: 16px;
      background-color: $accent;
      display: none;
    }

  }
  .mich-form__policy{
    padding-left: 40px;
    display: block;
		// float: left;
    a{
      color: rgba($accent, .7);
    }
  }
  .button{
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.slick-prev,
.slick-next{
		z-index: 1;
	&:before{
		font-family: 'icomoon';
		opacity: 1;
		color: $font;
	}

	&:hover, &:active{
		opacity: .5;
	}
	
}

.slick-prev{
		// z-index: 1;
		left: 0;

	&:before{
		content: '\e901';
	}
}
.slick-next{
		right: 0;

	&:before{
		content: '\e902';
		// color: $font;
	}
}


.mfp-close-btn-in .mfp-close{
	color: $accent;
	font-size: 37px;
	font-weight: 100;
}
.ui-selectmenu-button.ui-button{
	width: 100%;
	padding: 7px 11px;
	border: none;
  border-bottom: 1px solid $font;
	font-family: $pt;
	color: rgba($font, 0.7);
	background-color: transparent;

	&:focus{
		outline: none;
	}

  // @include placecolor(rgba($font, 0.7));
}
.mich-inp-serif{
	.ui-selectmenu-button.ui-button{
		font-family: $r-r;
		font-style: italic;

	}
}
.ui-button .ui-icon{
	width: 11px;
	height: 6px;
	margin-top: 8px;
	background-position: 0 0;
	background-image: url(../img/icons-svg/chev-down.svg);
	background-size: 100%;
}
.ui-corner-all{
	
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon{
	
	background-image: url(../img/icons-svg/chev-down.svg);
}
.mich-tabs__list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: flex-start;
	margin-bottom: 20px;
	border-bottom: 1px solid $gray-line;

	.tabs__item{
		padding-top: 10px;
		padding-bottom: 11px;
		width: 50%;
		text-align: center;
		border-left: 1px solid $gray-line;
		.tabs__link{
			color: $font;
			text-decoration: none;
		}

		&--active{
			.tabs__link{
				color: $accent;
				text-decoration: underline;
			}
		}
		&:first-child{
			border-left: none;
		}

	}
}
.tabs__item{
	list-style-type: none;
}
.mich-svg-icon{
  background-repeat: no-repeat;
  background-size: 100%;
}
.catalog-line{
  position: relative;
  text-align: center;
  margin-bottom: 20px;

  span{
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 55px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    // margin-top: -1px;
    width: 100%;
    height: 1px;
    background-color: $gray-line;
  }

}
.product-card{
  padding-top: 30px;
  padding-bottom: 15px;
  width: calc(20% - 60px);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  // outline: 1px solid red;
  &:hover, &:active{
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    
    .product-card__icon-block{
      display: block;
    }

  }
  
}
.product-card__img-wrap{
  height: 150px;
  position: relative;
}
.product-card__img{
  @include absolute-center;
}
.product-card__top{
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: rem(20);


}
.product-card__name{
  display: block;
  padding-left: 12px;
  padding-right: 12px;
}
.product-card__icon-block{
  position: absolute;
  display: none;
  right: 11px;
  top: 0;
  z-index: 2;
  a{
    display: block;
  }
  .icon-heart-full{
    margin-bottom: 17px;
  }
}
/*--end main styles---*/