.product-card
	.product-card__top
		.product-card__icon-block
			a(href="#").mich-icomoon-icon.icon-heart-empty.iconed-link
			a(href="#mich-popup-quick-view").mich-icomoon-icon.icon-mag.iconed-link.to-popup

		.product-card__img-wrap
			img(src="img/product.jpg", alt="alt").product-card__img

	a(href="#").product-card__name.mich-link-menu Маска для рук D'Michaél Les note de Versailles