nav.mich-mob-nav
	ul.header-mob-menu
		li
			a(href="#").mich-link-menu О бренде
		li
			a(href="#").mich-link-menu Каталог продукции
			ul
				li
					a(href="#").mich-link-menu.header-menu__sublink Уход за руками и телом
				li
					a(href="#").mich-link-menu.header-menu__sublink Уход за волосами
		li
			a(href="#").mich-link-menu Вопрос и Ответ
		li
			a(href="#").mich-link-menu Новости бренда
		li
			a(href="#").mich-link-menu Блог “Дайте мне красоты!

		li
			a(href="#").mich-link-menu Контакты
		li
			a(href="#").mich-link-menu Стать дистрибьютером
		li
			a(href="#").mich-link-menu Где купить?