script(src='js/libs/jquery/jquery-1.11.2.min.js')
script(src='js/libs/jquery-ui/jquery-ui.min.js')
script(src='js/libs/slick/slick.min.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
script(src='js/libs/slideout/slideout.js')
script(src='js/libs/magnific-popup/dist/jquery.magnific-popup.min.js')
script(src="js/libs/superfish/dist/js/hoverIntent.js")
script(src="js/libs/superfish/dist/js/superfish.js")