script(src='/libs/jquery/jquery-1.11.2.min.js')
script(src='/libs/jquery-ui/jquery-ui.min.js')
script(src='/libs/slick-master/slick.js')
script(src='/libs/slideout/slideout.js')
script(src='/libs/magnific-popup/dist/jquery.magnific-popup.min.js')
script(src="libs/superfish/dist/js/hoverIntent.js")
script(src="libs/superfish/dist/js/superfish.js")