.blog{
	.title-mobile,
	.to-mobile{
		margin-bottom: 19px;
	}
}
.blog-previews{
	height: 480px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 100%;
	// @include col();
	// @include col-12();
}
.blog-preview{
	position: relative;
	background:  0 0 no-repeat;
	background-size: cover;
	text-decoration: none;

	&--main{
		// max-width: 40.625%;
		flex: 1 1 38.625%;
		text-align: center;
	}

	&:nth-child(2){
		// max-width: 33.2031%;
		
		flex: 1 1 33.2031%;

		.blog-preview__image{
			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(#C4C4C4, .2);
			}
		}

	}
	&--dbl{
		// max-width: 26.1718%;
			flex: 1 1 28.1918%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
		}
}
.blog-preview__mob-header{
	position: relative;
	display: none;
	color: $font;
}
.blog-preview__image{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:  0 0 no-repeat;
	background-size: cover;
}
.blog-preview-sub{
	position: relative;
	flex: 1 1 auto;
	background:  0 0 no-repeat;
	background-size: cover;
	text-decoration: none;

	.blog-preview__image{

		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}


	&:first-child{
		.blog-preview__image{
			&:before{
			background-color: rgba(#000, .3);

			}
		}
	}
	&:last-child{
		.blog-preview__image{
			&:before{
				background-color: rgba(#F3B5C0, .3);
			}
		}
	}


}
.blog-preview__big-title{
	position: relative;
	padding: 0 15px;
	z-index: 1;
	display: inline-block;
	font-size: rem(46);
	line-height: rem(60);
	text-align: center;
	color: #fff;
	background-color: #A8D394;
}
.blog-preview__frame{
	@include absolute-center-old;
	bottom: auto;
	top: 30px;
	width: 95%;
	height: 92%;
	border: 2px solid #fff;
}
.blog-preview__header{
	position: absolute;
	left: 20px;
	bottom: 5px;
	color: #fff;
	z-index: 1;
}
.blog-preview__title {
	padding-right: 7px;
	font-size: rem(24);
	line-height: rem(32);
}
span.blog-preview__date{
	margin-right: 5px;
}
.blog-bottom{
	@include col();
	@include col-12();
	padding: rem(40) 0;

	.button{
		width: 140px;
	}
}