.catalog-content{
	width: 100%;
	// margin-left: -30px;
	// margin-right: -30px;
	// outline: 1px solid;
}
.catalog-more{
	@include col();
	@include col-12();
	margin-bottom: 	rem(36);
	text-align: center;

	.button{
		width: 140px;	
	}
}
.wishes-content{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;

	@include col();
	@include col-7();
	@include col-lg_1200-8();
	@include col-lg-9();
	@include col-mdr-10();
	@include col-md-11();
	@include col-sm-12();
}
.whises{

}
.wishes-wrapper{
		justify-content: center;
		margin-bottom: 50px;
		
		.product-card{
			width: calc(33.33333% - 50px);
			margin-left: 25px;
			margin-right: 25px;

			.product-card__icon-block{
				display: block;

				.icon-mag{
					display: none;
				}
			}
		}
}