.product-top{
	padding: rem(110) 0;
	margin-bottom: 30px;
}
.product-top__wrapper{
	justify-content: space-between;
}
.product-nav{
	@include col();
	@include col-2();

	.slick-dots{
		position: static;
		li{
			display: block;
			width: auto;
			height: auto;
			margin-bottom: rem(30);
			a{
				display: block;
				width: 60px;
				height: 60px;
				position: relative;

				img{
					@include absolute-center;
				}
			}
		}
	}
}
.product-dislplay{
	@include col();
	@include col-5();
	@include col-md-6();
	@include col-sm-12();
	position: relative;
}
.product-dislplay__nav{
	position: absolute;
	right: 0;
	top: 0;
	width: 52px;
	height: 20px;

	.slick-prev{
		left: 0;
		top: 0;
	}
	.slick-next{
		right: 0;
		top: 0;
	}
}
.product-info{
	@include col();
	@include col-4();
	@include col-lg-5();
	@include col-md-6();
	// margin-left: auto;
}
.product-slider{
	width: 100%;
	max-width: 310px;
}
.product-slide{
	position: relative;
	height: 510px;
	// text-align: center;
	img{
		@include absolute-center;
	}
}
.product-info__title{
	margin-bottom: 10px;
	font-size: rem(30);
	line-height: rem(40);
}
.product-info__descr{
	margin-top: 0;
	margin-bottom: rem(30);
	font-family: $r-l;
	// line-height: 16px;
	color: #fff;
}
.product-info__buttons{
	margin-bottom: rem(22);
}
.product-info__favourites{
	margin-right: 17px;
	.mich-icomoon-icon{
		&:before{
			color: #fff;
		}
	}
	.mich-link{
		color: #fff;
	}
}
.product-info__share{
	div{
		margin-bottom: 12px;
	}
	.mich-icomoon-icon{
		margin-right: 8px;
		font-size: 16px;
		&:before{
			color: #fff;
		}
	}

	&--mob{
		display: none;
		margin-bottom: 20px;
		 .mich-icomoon-icon:before{
		 	color: $accent;
		 }
	}
}
.product-chars{
	margin-bottom: 20px;
	.tabs{
		.wrapper{
			justify-content: center;
		}
		.mich-tabs__list{
			@include col();
			@include col-12();
			margin-bottom: 0;
			border-top: none;
			border-bottom: none;
			justify-content: center;
		}
		.tabs__content{
			@include col();
			@include col-6();
			@include col-lg-10();
			@include col-md-12();

			.tabs__item{
				font-family: $r-l;
			}
		}
	}
}
.product-chars__tabs-top{
	border-top: 1px solid $gray-line;
	border-bottom: 1px solid $gray-line;
}
.product-chars__content-wrapper{
	justify-content: center;
}
.product-chars__tabs-item{
	padding-top: 20px;
	min-height: 180px;

	p{
		margin-top: 0;
	}
}
.product-info-mobile{
	display: none;
	position: relative;
	.product-info__title{
		padding-right: 40px;
		font-size: 18px;
		line-height: 24px;
	}
	.icon-heart-empty{
		position: absolute;
		top: 0;
		right: 15px;
	}
}