.mich-search-wide{
	.mich-form{
		@include col();
		@include col-12();

		position: relative;

		.mich-form-input{
			padding-top: 6px;
		}

		.search-button{
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 30px;
			background-color: $font;

			.icon-mag{
				&:before{
					color: #fff;
				}
			}
		}
	}
	&--mob{
		display: none;

		.mich-form .mich-form-label{
			margin-bottom: 0;
		}
	}
}
.mich-map{
	position: relative;
	height: 500px;
	min-height: 500px;
	// max-height: 500px;
	overflow: hidden;
	border-top: 1px solid $gray-line;
	border-bottom: 1px solid $gray-line;

	&.trans{
		overflow: visible;
		height: auto;
		.mich-map-locs{
			transform: translateX(0);
		}
		.mich-big-map{
			transform: translateX(calc(58.33333% + 37px));
		}
	}
}
.mich-map__button-wrap{
	position: relative;
}
.mich-map-locs{
	transition: all .5s;
	transform: translateX(-100%);
	// width: 100%;
	z-index: 0;

}
.mich-map-address{
	@include col();
	@include col-7();
	@include col-lg_1200-6();
	@include col-mdr-12();
	padding-top: 20px;
	background-color: #fff;
}
.mich-mapview-handlers{
	@include col();
	@include col-12();
	margin-bottom: 16px;

	&.list-opened{
		.mich-mapview-handler{

			.mich-link{

					color: $font;
				}

				&#map-open{
					.mich-link{
						color: rgba($font, .7);
					}
				}
		}
	}
}
.mich-mapview-handler{
	text-decoration: none;
		margin-right: 19px;

	.mich-link{
		
		color: rgba($font, .7);
	}

	&#map-open{
		.mich-link{
			color: $font;
		}
	}
	// &.active{
	// 	.mich-link{
	// 		color: $font;
	// 	}
	// }

	span{
		vertical-align: middle;
	}
	&:last-child{
		margin-right: 0;
	}

	.mich-icomoon-icon{
		margin-right: 8px;
		&:before{
			color: $font;
		}
	}
}
.mich-big-map{
	width: 100%;
	position: absolute !important;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	max-height: 500px;
		transition: all .5s;

	&.trans{
		
	}
}

.mich-map-block-sm{
	@include col();
	@include col-5();
	position: relative;
	padding-left: 25px;
	min-height: 500px;
}

.mich-map-address__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 15px;
}
.mich-map-address__val{
	flex: 1 1 35%;
}
.mich-map-address__contacs{
 width: calc(65% - 60px);
 padding-left: 30px;

 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 align-items: flex-start;

}
.mich-map-address__phone{
	position: relative;
	padding-right: rem(30);
	width: 50%;	

	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		width: 24px;
		height: 24px;
		background:  url(../img/icons/phone.png) 0 0 no-repeat;
		background-size: 100%;
	}

}
.mich-map-address__schedule{
	width: 50%;
	position: relative;
	padding-left: 30px;		

	span{
	}
	.icon-time{
		position: absolute;
		top: 0;
		left: 0;	
		margin-right: 9px;
	}
}
.map-disclose{
	position: absolute;
	top: 20px;
	right: 20px;
	padding-left: 7px;
	padding-right: 41px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: $accent;
	border: 2px solid $accent;
	z-index: 1;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;

	.disclose-icon{
		position: absolute;
		right: 9px;
		top: 50%;
		transform: translateY(-50%);

		&:before{
			font-size: 24px;
			color: #fff;
		}
	}

	&:hover, &:active{
		background-color: #fff;
		color: $accent;
		.disclose-icon{
			&:before{
				color: $accent;
			}
		}
	}

	&.contracted{
		.disclose-icon{

			&:before{
				content: "\e906";
			}
		}
	}

}
.mich-sm-map{
	position: absolute;
	height: 100%;
	width: 100%;

}
.shops-map__fantom{
	@include col();
	@include col-12();
	padding-top: rem(35);
	padding-bottom: rem(40);
	text-align: center;

	p{
		margin-bottom: rem(36);
	}
}